---
---

@import "{{ site.theme }}";

#project_title {
  font-size: 34px;
}

#project_tagline {
  font-size: 20px;
}

.page-haeder {
  background-image: url("https://s3.us-east-2.amazonaws.com/dano.ai-public-files/15000620_600309396820984_6281695953320239507_o.jpg")
}