---
---

@import "{{ site.theme }}";

// #project_title {
//   font-size: 34px;
// }

// #project_tagline {
//   font-size: 20px;
// }

a {
    text-decoration: underline;
}

.page-header {
  background-image: url("https://d2a08gotq8viav.cloudfront.net/web-pages/images/aurora-bckground.jpg");
}

#icon_credit {
  font-size: 9px;
}