---
---

@import "{{ site.theme }}";

// #project_title {
//   font-size: 34px;
// }

// #project_tagline {
//   font-size: 20px;
// }

.page-header {
  background-image: url("https://d2a08gotq8viav.cloudfront.net/web-pages/images/aurora-bckground.jpg")
}